.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--hero-color);
  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  );
}

.hero-button {
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--third-color);
  background: var(--accent-color);

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;

  &:hover,
  &:focus {
    background: #188ce8;
  }
}

.hero__header {
  margin-bottom: 30px;

  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--third-color);
}

// 480
@media screen and (max-width: 767px) {
  .hero {
    padding: 118px 0;
    background-image: url(./../images/mobile/hero/hero_img.jpg);
  }

  .hero__header {
    font-size: 24px;
    line-height: 1.62;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4),
      url(./../images/mobile/hero/hero_img@2x.jpg)
    );
  }
}

// 768
@media screen and (min-width: 768px) {
  .hero {
    padding: 118px 0 198px;
    background-image: url(./../images/tablet/hero/hero_img.jpg);
  }

  .hero__header {
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (max-width: 768px),
  (min-resolution: 2dppx) and (max-width: 768px) {
  .hero {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4),
      url(./../images/tablet/hero/hero_img@2x.jpg)
    );
  }
}

// 1200
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0 280px;
    background-image: url(./../images/desktop/hero/hero_img.jpg);
  }

  .hero__header {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  (min-resolution: 192dpi) and (max-width: 1200px),
  (min-resolution: 2dppx) and (max-width: 1200px) {
  .hero {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4),
      url(./../images/desktop/hero/hero_img@2x.jpg)
    );
  }
}
