.header__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #000000;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--third-color);
}

.logo-color {
  color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .header__logo {
    display: inline-block;
    margin: 16px 0px 16px 0px;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    display: flex;
    margin: 26px 88px 26px 0px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-top: 24px;
    margin-bottom: 25px;
    margin-right: 93px;
  }
}
