:root {
  --accent-color: #2196f3;
  --primary-color: #212121;
  --secondary-color: #757575;
  --third-color: #ffffff;
  --fourth-color: #2f303a;
  --hero-color: #c4c4c4;
  --button-color: #f5f4fa;
  --icon-color: #afb1b8;
  --secondary-font: "Raleway", sans-serif;
}
